.cs0 {
  background-color: rgba(100,100,100,0.8);
  border-radius:20px;
  border-width: 0px;
  padding: 2em;

}
.cs1 {
  background-color: #546e7a;
  border-radius: 0 0 2px 2px;
  padding: 24px;
  color: white;
}

.cs2 {
  background-color: none;
  color: black;
  border-width: 5px 0 0 0;
  border-color: black;
  padding: 1.75rem;
}

.cs1 a {
  color: greenyellow;
}